{% extends 'core/base.html' %}
{% load static %}
{% load custom_filters %}

{% block content %}

<form method="post" id="formulario-ficha">

    {% csrf_token %}

    <div id="contenedor-principal" class="d-flex flex-column min-vh-100">
        <div class="container mt-4">
          <h1>Ficha de producto</h1>
          <table border="7px">
            <tr>
              <td style="padding: 60px;">
                <img class="card-shadow" width="300px" src="/media/{{ imagen }}" alt="{{ nombre }}">
              </td>
              <td style="padding: 40px; vertical-align: top">
                <h2 style="font-weight: bold;">{{ nombre }}</h2>
                <h5 class="card-text">{{html_estado|safe}}</h5>
                <h2 style="font-weight: bold;">{{ html_precio|safe }}</h2>
                <p class="fw-normal">
                  {{ descripcion }}
                  <h5 class="card-text">{{ html_stock|safe }}</h5>
                </p>
                <!--sssss-->
                <a href="{% url 'comprar_ahora' %}" class="btn btn-primary">Comprar Ahora</a>
                <br><br>
                <a href="{% url 'agregar_producto_al_carrito' id %}" class="btn btn-primary">Agregar carrito</a>
              </td>
            </tr>
          </table>
        </div>
    </div>
</form>
{% endblock content %}

{% block script %}
    <script src="{% static 'core/js/ficha.js' %}"></script>
{% endblock script %}
